<div [ngClass]="'colorPalette'">
<table [width]="width">
    <tr>
      <td [height]="height" [style.background-color]="color" *ngFor="let color of colors" [matTooltip]="getColorTooltip(color)" #tooltip="matTooltip" (click)="tooltip.show()"></td>
    </tr>
</table>
</div>
