<div><input #file type="file" accept="image/*" (change)="handleChange(file.files)"/></div>
<div><img [src]="imgUrl" *ngIf="imgUrl" id="my-image" (load)="onImageLoad($event)"/></div>
<app-color-palette [width]="imgWidth" [height]="height" [colors]="colors" *ngIf="imgWidth" ></app-color-palette>
